<!doctype html>
<html>

<head>
    <title>Cruise Control Management</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">




    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Cruise Control Management</h1>
            <img src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg"
                alt="background photo of lake">

            <p>Login or Signup:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
</body>

</html>